
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');

html {
  margin: 0;
  padding: 0;
}

.minidocs-sidebar {
  background: #EAE7D6;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}


.minidocs-sidebar .h1:before {
    content: '';
}

.minidocs-sidebar a.content-link:hover {
  background: inherit;
}
.minidocs-sidebar a.content-link.active {
  background: inherit;
  font-weight: bold;
}

.minidocs-sidebar .minidocs-logo {
  height: 70px;
  /*width: auto;*/
}

p, .minidocs-content {
  font-size: 1.15rem;
  line-height: 1.75rem;
}

.minidocs-sidebar .minidocs-header {
  /*margin: 0;*/
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  /*font-family: "Fira Mono", monospace !important;*/

}

.markdown-body .anchor {
  margin-left: 0;
}
.content-link {

}

@media all and (max-width: 600px) {
  .minidocs-sidebar .minidocs-header h1 {
    margin-top: 0;
  }
}